#main-container div.btn-group-vertical {
  padding: 9px;
}

.sidenavrp {
  height: calc(100% - 80px);
  width: 200px;
  position: absolute;
  z-index: 1;
  background-color: #e9ebee;
  padding-top: 5px;
}

.sidenavrp a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #696763;
  display: block;
  cursor: pointer;
  transition: 0.3s

}

.sidenavrp a:hover, .offcanvas a:focus {
  color: #1A91B1;
  font-size: 16px;
  font-weight: bold;
}

.active-menu {
  background-color: rgba(0, 0, 0, .05);
  border-left: 3px solid gray;
  font-weight: bold;
}
