.wrapper-login
  margin 15rem auto
  width 40rem
  background-color #f1f1f1
  text-align center
  box-shadow 0px 0px 10px 0px
  .login-form
    padding 5rem 0rem 5rem 0rem
    input[type="text"], input[type="button"], input[type="password"]
      padding 1rem
      width 30rem
    input[type="button"]
      background-color #4CAF50
      color white
      border 0px
    .login-row
      padding-bottom 1rem
    .login-social
      border-bottom 2px solid white
      margin-bottom 1rem
      .img-height
        height 6rem
        cursor pointer
