.tableview
  background-color gainsboro
  border 1px solid dimgray
  height 400px
  width 300px
  .place-header
     background-color #5BBCEC

//.tableview > div
//  height 30px
//  border 1px solid grey

//.header > div
//  width 100px
//
.header
  white-space: nowrap;

//.record
.place-header
  height 30px
.container-record
  height 150px
  width 300px
  overflow scroll
.record-1
  white-space nowrap
.record-1 > div
  width 80px
  height 30px
  display inline
  border 1px solid white
