hmtl
  height 100%
  background-color gainsboro

body
  height 100%
  background-color gainsboro

.header
  .header_top
  .row
    height 100px
    border 1px solid grey
    text-align center

.container_top
  height calc(100% - 100px)

section
  border 1px solid grey

footer
  height 100px
  border 1px solid grey
  position fixed
  bottom 0px
