@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
html {
  font-size: 62.5%;
  font-family: 'Montserrat', Regular;
}
h1 {
  font-weight: bold;
  color: #444;
  font-size: 4.5rem;
}
a {
  text-decoration: none;
  color: #444;
}
body {
  background: #f5f5f5;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: rgba(0,0,0,0.02);
  margin: 0px;
}
.wapper {
  margin: 0 auto;
  width: 96rem;
}
#header {
  border-bottom: 1px solid #dcdcdc;
}
#header .wapper {
  position: relative;
}
#header .wapper .title {
  float: left;
  display: inline-block;
  text-shadow: 1px 2px 3px #808080;
  line-height: 8rem;
  margin: 0px;
}
#header .wapper nav {
  float: right;
}
#header .wapper nav > ul {
  list-style-type: none;
  margin: 0px;
}
#header .wapper nav > ul > li {
  display: inline-block;
  float: left;
  padding: 0px 15px 0px 15px;
  line-height: 8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.panel_menu {
  position: absolute;
  top: 8rem;
  margin-top: 1px;
  display: none;
  width: inherit;
  background-color: #fff;
  border-top: 0px;
  box-shadow: 1px 1px 1px #888;
  left: 0;
  width: 100%;
}
.item_shop:hover .panel_menu {
  display: block;
}
